.App {
  @import "Header";
  section {
    article {
      margin-bottom: 25px;
      padding: 10px;
      background-color: #fffbfb;
      h2{
        border-bottom: 2px solid #eef;
      }
    }
  }
}